#!/bin/sh

[ -f "${XDG_CONFIG_HOME:-$HOME/.config}/shell/profile" ] && source "${XDG_CONFIG_HOME:-$HOME/.config}/shell/profile"

xrdb -merge ~/.Xresources

if [ $XDG_SESSION_DESKTOP = "unity" ]; then
    setxkbmap -option caps:escape
else
    remaps.sh
fi

[ $(xrandr | grep ' connected' | wc -l) -eq 2 ] && dual-monitor.sh

unclutter &
ibus-daemon -drxR &
